# Add your PostgreSQL connection URL here (e.g., from Neon.tech, Supabase, or Render)
DATABASE_URL="postgresql://neondb_owner:npg_F8UiSkgq9xoz@ep-muddy-cloud-at5crkz7-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# RAZORPAY KEYS
RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""
